## Housing Prices in College Towns during Recessions

In [3]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind
from scipy import stats

In [6]:
university_towns = open('../data/housingPrices/university_towns.txt').readlines()
university_towns[:10]

['Alabama[edit]\n',
 'Auburn (Auburn University)[1]\n',
 'Florence (University of North Alabama)\n',
 'Jacksonville (Jacksonville State University)[2]\n',
 'Livingston (University of West Alabama)[2]\n',
 'Montevallo (University of Montevallo)[2]\n',
 'Troy (Troy University)[2]\n',
 'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n',
 'Tuskegee (Tuskegee University)[5]\n',
 'Alaska[edit]\n']

In [7]:
states = [line.split('[edit]')[0] for line in university_towns if '[edit]' in line]
states[0:5]

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']

In [8]:
university_towns = [ town.split(' (')[0] for town in university_towns]
university_towns[0:10]

['Alabama[edit]\n',
 'Auburn',
 'Florence',
 'Jacksonville',
 'Livingston',
 'Montevallo',
 'Troy',
 'Tuscaloosa',
 'Tuskegee',
 'Alaska[edit]\n']

In [7]:
st = [x.split('[')[0] for x in university_towns if '[edit]' in x]

In [9]:
university_towns = '\n'.join(university_towns)
states_pattern = '\[edit\]\n|'.join(states) + '\[edit\]\n'
states_pattern

'Alabama\\[edit\\]\n|Alaska\\[edit\\]\n|Arizona\\[edit\\]\n|Arkansas\\[edit\\]\n|California\\[edit\\]\n|Colorado\\[edit\\]\n|Connecticut\\[edit\\]\n|Delaware\\[edit\\]\n|Florida\\[edit\\]\n|Georgia\\[edit\\]\n|Hawaii\\[edit\\]\n|Idaho\\[edit\\]\n|Illinois\\[edit\\]\n|Indiana\\[edit\\]\n|Iowa\\[edit\\]\n|Kansas\\[edit\\]\n|Kentucky\\[edit\\]\n|Louisiana\\[edit\\]\n|Maine\\[edit\\]\n|Maryland\\[edit\\]\n|Massachusetts\\[edit\\]\n|Michigan\\[edit\\]\n|Minnesota\\[edit\\]\n|Mississippi\\[edit\\]\n|Missouri\\[edit\\]\n|Montana\\[edit\\]\n|Nebraska\\[edit\\]\n|Nevada\\[edit\\]\n|New Hampshire\\[edit\\]\n|New Jersey\\[edit\\]\n|New Mexico\\[edit\\]\n|New York\\[edit\\]\n|North Carolina\\[edit\\]\n|North Dakota\\[edit\\]\n|Ohio\\[edit\\]\n|Oklahoma\\[edit\\]\n|Oregon\\[edit\\]\n|Pennsylvania\\[edit\\]\n|Rhode Island\\[edit\\]\n|South Carolina\\[edit\\]\n|South Dakota\\[edit\\]\n|Tennessee\\[edit\\]\n|Texas\\[edit\\]\n|Utah\\[edit\\]\n|Vermont\\[edit\\]\n|Virginia\\[edit\\]\n|Washington\\[edit\\]\n|West Virginia\\[edit\\]\n|Wisconsin\\[edit\\]\n|Wyoming\\[edit\\]\n'

In [11]:
university_towns[0:10]

'Alabama[ed'

In [12]:
university_towns1 = re.split(states_pattern, university_towns)[1:]
university_towns1[0:5]

['\nAuburn\nFlorence\nJacksonville\nLivingston\nMontevallo\nTroy\nTuscaloosa\nTuskegee\n',
 '\nFairbanks\n',
 '\nFlagstaff\nTempe\nTucson\n',
 '\nArkadelphia\nConway\nFayetteville\nJonesboro\nMagnolia\nMonticello\nRussellville\nSearcy\n',
 '\nAngwin\nArcata\nBerkeley\nChico\nClaremont\nCotati\nDavis\nIrvine\nIsla Vista\nUniversity Park, Los Angeles\nMerced\nOrange\nPalo Alto\nPomona\nRedlands\nRiverside\nSacramento\nUniversity District, San Bernardino\nSan Diego\nSan Luis Obispo\nSanta Barbara\nSanta Cruz\nTurlock\nWestwood, Los Angeles\nWhittier\n']

In [13]:
university_towns1[0].split('\n')

['',
 'Auburn',
 'Florence',
 'Jacksonville',
 'Livingston',
 'Montevallo',
 'Troy',
 'Tuscaloosa',
 'Tuskegee',
 '']

In [16]:
towns = []

for state in range(len(states)):
    for town in university_towns1[state].split('\n'):
        if town != '\n' and town != '':
            towns.append({"State":states[state], "RegionName":town})
df = pd.DataFrame(towns)
df.head()

     RegionName    State
0        Auburn  Alabama
1      Florence  Alabama
2  Jacksonville  Alabama
3    Livingston  Alabama
4    Montevallo  Alabama

The function below implements these operations and returns the data in a cleaned DataFrame format:

In [17]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame is:
    DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State","RegionName"]  )'''
    
    university_towns_file = open('../data/housingPrices/university_towns.txt').readlines()
    states = [line.split('[edit]')[0] for line in university_towns_file if '[edit]' in line]
    university_towns_file = [ town.split(' (')[0] for town in university_towns_file]

    university_towns_file = '\n'.join(university_towns_file) + '\n'
    states_pattern = '\[edit\]\n|'.join(states) + '\[edit\]\n'

    university_towns_file = re.split(states_pattern, university_towns_file)[1:]
    towns = []

    for state in range(len(states)):
        for town in university_towns_file[state].split('\n'):
            if town != '\n' and town != '':
                towns.append({"State":states[state], "RegionName":town})
    df = pd.DataFrame(towns)
    
    return df.iloc[:,::-1]

get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo